# Игнорировать файлы и папки сборки
/bin/
/obj/

# Игнорировать файлы редакторов кода
.vscode/
.idea/

# Игнорировать временные файлы
*.tmp
*.bak
*.swp

# Игнорировать файлы конфигурации
appsettings.json
web.config
