@model PhoneGuideApp.DB_Model.UserContext;

<html>
    <head>
    <link rel="stylesheet" href="~/css/phones_page.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
    </head>
    <body>
    <div class="body-div" id="body-div">
            <div>
                <div class="div-menu">
                    <button class="add-button" v-on:click="addAreaVisFunc">Добавить запись</button>
                    <form onsubmit="return false;" method="post" v-on:submit="importCSV">
                        <input type="file" id="csvFile" name="file" accept=".csv">
                        <button class="import-button" type="submit">Импорт</button>
                    </form>
                    <a class="export-button" href="/Home/ExportPhonesToCSV">Экспорт</a>
                </div>

                <table class="datagrid">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Домашний телефон</th>
                            <th>Мобильный телефон</th>
                            <th>Адрес</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(phone, index) in phones">
                            <td>{{phone.id}}</td>
                            <td>{{phone.lname}}</td>
                            <td>{{phone.fname}}</td>
                            <td>{{phone.mname}}</td>
                            <td>{{phone.homeNumberPhone}}</td>
                            <td>+{{phone.mobileNumberPhone}}</td>
                            <td>{{phone.addressStr}}</td>
                            <td>
                                <div>
                                <button class="editable-element" v-on:click="editAreaVisFunc(phone)"></button>
                                <button class="delete-button" v-on:click="openRemoveModal(phone)">X</button>
                                <div class="modal" v-if="showRemoveModal == true">
                                        <div class="modal-content">
                                            <h2>Подтверждение</h2>
                                            <p>Вы уверены, что хотите удалить запись?</p>
                                            <div class="modal-buttons">
                                            <button id="confirm-button" v-on:click="confirmRemove">Да</button>
                                                <button id="cancel-button" v-on:click="closeRemoveModal">Отмена</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div v-if="addArea.visibility">
            <div class="add-area" :v-model="addPhone">
                <form onsubmit="return false;" v-on:submit="sendPhoneFunc" >
                        <h2 class="add-area-h2">Добавление записи</h2>
                        <input class="add-area-fio-fname" type="text" placeholder="Имя"
                           v-model="addPhone.fname" required pattern="[A-Za-zА-Яа-яЁё]+"
                               title="Имя может содержать только буквы" />
                        <input class="add-area-fio-lname" type="text" placeholder="Фамилия"
                           v-model="addPhone.lname" required pattern="[A-Za-zА-Яа-яЁё]+"
                               title="Фамилия может содержать только буквы" />
                        <input class="add-area-fio-mname" type="text" placeholder="Отчество"
                           v-model="addPhone.mname" required pattern="[A-Za-zА-Яа-яЁё]+"
                               title="Отчество может содержать только буквы" />

                    <input class="add-area-phone-house" type="text" v-model="addPhone.homeNumberPhone"
                               placeholder="Дом. номер телефона"
                           pattern="[1-9]{3}-[0-9]{2}-[0-9]{2}" title="Формат ввода XXX-XX-XX" />
                    <input class="add-area-phone-mobile" type="tel" v-model="addPhone.mobileNumberPhone"
                               placeholder="Моб. номер телефона"
                           pattern="[0-9]{1,3} [0-9]{3}-[0-9]{3}-[0-9]{4}" title="Формат ввода X XXX-XXX-XXXX" />

                        <h4>Адрес</h4>
                        <div>
                            <input class="add-area-address-city" type="text" v-model="addPhone.city"
                                   placeholder="Город"
                                   required pattern="[A-Za-zА-Яа-яЁё]+" title="Название города может содержать только буквы" />
                            <input class="add-area-address-street" type="text" v-model="addPhone.streetNumberHouse" placeholder="Улица" />
                            <input class="add-area-address-apart" type="text" v-model="addPhone.numberApartment" placeholder="Номер квартиры" />
                        </div>


                        <button type="submit" class="add-area-submit">Добавить</button>
                    </form>
                </div>
            </div>
        <div v-if="updateArea.visibility">
                <div class="add-area" :v-model="editPhone">
                    <form onsubmit="return false;" v-on:submit="openEditModal">
                            <h2 class="add-area-h2">Редатирование записи</h2>
                            <input class="add-area-fio-fname" type="text" placeholder="Имя"
                           v-model="editPhone.fname" required pattern="[A-Za-zА-Яа-яЁё]+"
                                   title="Имя может содержать только буквы" />
                            <input class="add-area-fio-lname" type="text" placeholder="Фамилия"
                           v-model="editPhone.lname" required pattern="[A-Za-zА-Яа-яЁё]+"
                                   title="Фамилия может содержать только буквы" />
                            <input class="add-area-fio-mname" type="text" placeholder="Отчество"
                           v-model="editPhone.mname" required pattern="[A-Za-zА-Яа-яЁё]+"
                                   title="Отчество может содержать только буквы" />

                        <input class="add-area-phone-house" type="text" v-model="editPhone.homeNumberPhone"
                                       placeholder="Дом. номер телефона"
                           pattern="[1-9]{3}-[0-9]{2}-[0-9]{2}" title="Формат ввода XXX-XX-XX" />
                        <input class="add-area-phone-mobile" type="tel" v-model="editPhone.mobile_number_phone"
                                       placeholder="Моб. номер телефона"
                                pattern="[0-9]{1,3} [0-9]{3}-[0-9]{3}-[0-9]{4}" title="Формат ввода X XXX-XXX-XXXX" />
                            <h4>Адрес</h4>
                            <div>
                                <input class="add-area-address-city" type="text" v-model="editPhone.city"
                                       placeholder="Город"
                                       required pattern="[A-Za-zА-Яа-яЁё]+" title="Название города может содержать только буквы" />
                                <input class="add-area-address-street" type="text" v-model="editPhone.streetNumberHouse" placeholder="Улица" />
                                <input class="add-area-address-apart" type="text" v-model="editPhone.numberApartment" placeholder="Номер квартиры" />
                            </div>


                        <button type="submit" class="edit-area-submit">Сохранить</button>
                    </form>
                </div>
            </div>
            <div class="modal" v-if="showEditModal == true">
                <div class="modal-content">
                    <h2>Подтверждение</h2>
                        <p>Вы уверены, что хотите сохранить изменения?</p>
                        <div class="modal-buttons">
                            <button id="confirm-button" v-on:click="confirmEdit">Да</button>
                            <button id="cancel-button" v-on:click="cancelEdit">Отмена</button>
                        </div>
                </div>
            </div>


    </div>

    <script type="text/javascript" src="/js/phones_page.js"></script>
    </body>
</html>

